{% extends 'base.html' %}

{% block title %}
  Ваши подписки
{% endblock %}

{% block content %}
{% include 'posts/includes/switcher.html' %}
  <h1>Ваши подписки</h1>
  {% for post in page_obj %}
    <article>
        {% load thumbnail %}
        <ul>
          <li>
            Автор: <a href="{% url 'posts:profile' post.author.username %}">
              {{ post.author.get_full_name }}</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>{{ post.text }}</p>
          <a href="{% url 'posts:post_detail' post.pk %}">
            Подробная информация </a>
          {% if post.group %}
            <li>
              Группа: <a href="{% url 'posts:group_list' post.group.slug %}">
                {{ post.group.title }}</a>
            </li>
          {% endif %}
          {% if post.author == user %}
            <li>
              <a href="{% url 'posts:post_edit' post.pk %}">
                Редактировать</a>
            </li>
          {% endif %}
        </ul>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}