{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Профайл пользователя {{post.author.get_full_name}}
{%endblock title %}
{% block content %}
<div class = 'container py-3'>
    <h1>Посты пользователя : {{first_post.author.get_full_name}}</h1>
    <h3>Всего постов пользователя: {{posts_count}}</h3>
    {% if following %}
    <a
      class="btn btn-lg btn-light"
      href="{% url 'posts:profile_unfollow' author.username %}" role="button"
    >
      Отписаться
    </a>
  {% else %}
      <a
        class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' author.username %}" role="button"
      >
        Подписаться
      </a>
   {% endif %}
</div>
    {% for post in page_obj  %}
        <article>
            <div class = 'container py-2'>
                <ul><li>Дата публикации : {{post.pub_date|date:"d E Y"}}</li></ul>
                <p>{{post.text}}</p>
                <a href="{% url 'posts:post_detail' post.pk %}"> Подробная инофрмация о посте </a>
                <p></p>
                {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
                <img class="card-img my-2" src="{{ im.url }}">
                {% endthumbnail %}
                {% if post.group%}
                <a href="{% url 'posts:group_list' post.group.slug %}">Все записи группы</a>
                {% endif %}
                <hr>
            </div>
        </article>
    {%endfor%}
    {% include 'posts/includes/paginator.html' %}
{% endblock content %}




